---
import { Mf2Properties } from '~/types/mf2-document'
import PostDates from '~/components/post-fragments/PostDates.astro'
import Categories from '~/components/post-fragments/Categories.astro'
import PermalinkLayout from '~/layouts/PermalinkLayout.astro'
import ContentRenderer from '../ContentRenderer.astro'
import { discoverExtractor } from '~/lib/extractor/ExtractorDiscoverer'

export interface Props {
    props: Mf2Properties
}

const { props } = Astro.props

const cache = Astro.locals.runtime.env.personal_site_content_cache

const extractor = discoverExtractor(props)
const RootElem = extractor.getRootElem()
const content = await extractor.getContent(cache)
const summary = extractor.getSummary()
---

<PermalinkLayout title={extractor.getTitle()}>
    <RootElem class:list={["h-entry"]}>
        <div class="flex flex-col items-center gap-y-1 mt-8">
            <h1 class:list={["font-serif", "text-3xl", ...extractor.getTitleClasses()]}>{extractor.getTitle()}</h1>
            <PostDates props={props} />
        </div>
        <hr class="my-6 border-dotted" />
        <div class="border-2 border-dashed border-blue-400 dark:border-blue-900 p-4 rounded-sm">
            {summary && <p class="p-summary">{summary}</p>}
            <div class="e-content mb-4">
                <ContentRenderer content={content} />
            </div>
            <Categories categories={extractor.getCategories()} />
        </div>
        <a href="/" class="u-author"></a>
    </RootElem>
</PermalinkLayout>