---
import PostDates from "~/components/fragments/PostDates.astro";
import Categories from "~/components/fragments/Categories.astro";
import type Mf2Extractor from "~/lib/extractor/Mf2Extractor";
import ArticlePermalink from "./type/ArticlePermalink.astro";
import BookmarkPermalink from "./type/BookmarkPermalink.astro";
import CheckinPermalink from "./type/CheckinPermalink.astro";
import LikePermalink from "./type/LikePermalink.astro";
import NotePermalink from "./type/NotePermalink.astro";
import PhotoPermalink from "./type/PhotoPermalink.astro";
import ReplyPermalink from "./type/ReplyPermalink.astro";
import RepostPermalink from "./type/RepostPermalink.astro";
import RsvpPermalink from "./type/RsvpPermalink.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

export interface Props {
    extractor: Mf2Extractor;
    class?: string;
}

const { extractor, class: className } = Astro.props;

const RootElem = extractor.getRootElem();
const title = extractor.getTitle();
const summary = extractor.getSummary();
const content = await extractor.getPost();
---

<BaseLayout title={title}>
    <RootElem class:list={["h-entry tw:col-span-12", className]}>
        <div
            class:list={[
                "tw:flex tw:flex-col tw:items-center tw:gap-y-1 tw:mt-8",
            ]}
        >
            <h1
                class:list={[
                    "tw:font-serif",
                    "tw:text-3xl",
                    ...extractor.getTitleClasses(),
                ]}
            >
                {title}
            </h1>
            <PostDates extractedDates={extractor.getDates()} />
        </div>
        <hr class="tw:my-6 tw:border-dotted" />
        <div
            class:list={[
                "tw:border-2 tw:border-dashed tw:border-blue-400 tw:dark:border-blue-900 tw:p-4 tw:rounded-sm",
            ]}
        >
            <>
                {summary && <p class="p-summary">{summary}</p>}
                <div class:list={["e-content", "tw:mb-4"]}>
                    {
                        (() => {
                            switch (content.type) {
                                case "article":
                                    return (
                                        <ArticlePermalink article={content} />
                                    );
                                case "checkin":
                                    return (
                                        <CheckinPermalink checkin={content} />
                                    );
                                case "like":
                                    return <LikePermalink like={content} />;
                                case "note":
                                    return <NotePermalink note={content} />;
                                case "repost":
                                    return <RepostPermalink repost={content} />;
                                case "rsvp":
                                    return <RsvpPermalink rsvp={content} />;
                                case "photo":
                                    return <PhotoPermalink photo={content} />;
                                case "reply":
                                    return <ReplyPermalink reply={content} />;
                                case "bookmark":
                                    return (
                                        <BookmarkPermalink bookmark={content} />
                                    );
                            }
                        })()
                    }
                </div>
            </>
            <Categories categories={extractor.getCategories()} />
        </div>
        <a href="/" class="u-author"></a>
    </RootElem>
</BaseLayout>
