---
export const prerender = false

import BookList from "~/components/ssr/BookList.astro"
import BaseLayout from "~/layouts/BaseLayout.astro"
import {  getWantToRead } from "~/lib/seer"

const { page } = Astro.params
const normalizedPage = Number.parseInt(page ?? '1')
const books = await getWantToRead(normalizedPage)
if (!books) {
  return Astro.redirect("/reading");
}
const totalPages = books.pagination.total_pages
---

<BaseLayout title=`Want to Read (Page ${normalizedPage}/${totalPages}) - The Library`>
  <div class="tw:flex tw:flex-col tw:gap-y-4">
    <div class="tw:flex tw:flex-col tw:gap-y-1">
      <h1 class="tw:text-3xl">Want to Read (Page {normalizedPage} of {totalPages})</h1>
      <p class="tw:text-sm">Please don't spoil these for me! These are in no particular order; technically, they're ordered by the date that I marked them "want to read" but this is arbitrary. I might choose any of these at any time.</p>
    </div>
    <BookList 
      books={books}
      pageBase="/reading/wanted"
      cols={2}
    />
  </div>
</BaseLayout>
