---
import MicroformatRenderer from "~/components/microformat/MicroformatRenderer.astro";
import { FeedRenderProps, RenderMethod } from "~/types/mf2-rendering";

interface Props extends FeedRenderProps {}

const { feedInfo, renderMethod = RenderMethod.Preview, posts, class: className, itemClass } = Astro.props as Props;
const headerConf = feedInfo?.headerConfig ?? { level: 1, class: "" };
const headerHidden = headerConf.hidden ?? false;
const headerLevel = Math.min(Math.max(headerConf.level ?? 1, 1), 6)
const HeaderElem = `h${headerLevel}`;
const headerClass = headerConf.class ?? "";
---

<section class:list={["h-feed", className]}>
    {feedInfo && <HeaderElem class:list={["tw:text-2xl", "tw:font-bold", headerClass, { "tw:hidden": headerHidden }]}><a href={feedInfo.url}>{feedInfo.title}</a></HeaderElem>}
    {posts.map((post) => (
        <MicroformatRenderer doc={post} renderMethod={renderMethod} class={itemClass} />
    ))}
</section>
