---
import { Mf2Document } from "~/types/mf2-document";
import MicroformatRenderer from "~/components/microformat/MicroformatRenderer.astro";

interface FeedInfo {
    title: string;
    url: string;
}

interface Props {
    feedInfo?: FeedInfo;
    posts: Mf2Document[];
}

const { feedInfo, posts } = Astro.props as Props;

const isHEntry = (type: string) => type === 'h-entry';
---

<section class="h-feed tw:flex tw:flex-col tw:gap-y-4">
    {feedInfo && <h1 class="tw:text-2xl tw:font-bold"><a href={feedInfo.url}>{feedInfo.title}</a></h1>}
    {posts.map((post) => (
        <MicroformatRenderer doc={post} preview={true} typePredicate={isHEntry} />
    ))}
</section>
