---
import dayjs from "dayjs"
import { HardcoverBook } from "~/lib/seer"

interface Props {
  book: HardcoverBook,
  includeLastRead?: boolean
}

const { book, includeLastRead = false } = Astro.props

const lastRead = dayjs(book.last_read).format("MMMM D, YYYY")
---
<li class="tw:flex tw:items-center tw:gap-x-4">
  <img src={book.image} width="36px" height="36px" />
  <div class="tw:flex tw:flex-col tw:gap-y-1">
    <div>
      <p class="tw:text-sm tw:italic">{book.title}</p>
      <p class="tw:text-xs tw:indent-1">{book.author}</p>
    </div>
    {includeLastRead ? <p class="tw:text-xs tw:indent-1">Last read {lastRead} ({book.times_read} total reads)</p> : <></> }
  </div>
</li>