---
import dayjs from "dayjs"
import { HardcoverBook } from "~/lib/seer"
import Link from "../util/Link.astro";

interface Props {
  book: HardcoverBook,
  includeLastRead?: boolean
  imgClass?: string;
  titleClass?: string;
  subtextClass?: string;
}

const { book, includeLastRead = false, imgClass = "tw:w-16 tw:md:w-12", titleClass = "tw:text-base tw:md:text-sm", subtextClass = "tw:text-sm tw:md:text-xs" } = Astro.props

const lastRead = dayjs(book.last_read).format("MMMM D, YYYY")

const hardcoverBookUrl = (slug: string) => `https://hardcover.app/books/${slug}`
---
<li class="tw:flex tw:items-center tw:gap-x-4">
  <img src={book.image} class={imgClass} />
  <div class="tw:flex tw:flex-col tw:gap-y-1">
    <Link href={hardcoverBookUrl(book.slug)} class="tw:flex tw:flex-col" withUnderline={false}>
      <span class:list={["tw:italic", "tw:underline", "tw:decoration-dotted", titleClass]}>{book.title}</span>
      <span class:list={["tw:indent-1", subtextClass]}>{book.author}</span>
    </Link>
    {includeLastRead ? <p class:list={["tw:indent-1", subtextClass]}>Last read {lastRead} ({book.times_read} total reads)</p> : <></> }
  </div>
</li>