---
import { getPreviousReads, HardcoverData } from "~/lib/seer";
import BookListEntry from "~/components/hardcover/BookListEntry.astro";
import SimplePaginator from "~/components/SimplePaginator.astro";

interface Props {
  books: HardcoverData;
  pageBase: string;
  cols?: number,
  includeLastRead?: boolean
}

const { books, pageBase, cols = 1, includeLastRead = false } = Astro.props;
const colClass = `tw:grid-cols-${cols}`
---

<div class="tw:flex tw:flex-col tw:gap-y-4">
  <ul class:list={["tw:grid", "tw:gap-y-3", colClass]}>
    {books?.books.map((book) => <BookListEntry book={book} includeLastRead={includeLastRead} />)}
  </ul>
  <SimplePaginator
    curPage={books?.pagination.current_page ?? 1}
    totalPages={books?.pagination.total_pages ?? 1}
    pageLink={(page) => `${pageBase}/${page}`}
  />
</div>
