---
import { HardcoverData } from "~/lib/seer";
import SimplePaginator from "~/components/SimplePaginator.astro";
import BookItem from "../hardcover/BookItem.astro";

interface Props {
  books: HardcoverData;
  pageBase: string;
  colClass?: string,
  includeLastRead?: boolean,
  centerPaginator?: boolean
}

const { books, pageBase, colClass = "tw:grid-cols-1 tw:sm:grid-cols-2", includeLastRead = false, centerPaginator = false } = Astro.props;
---

<div class="tw:flex tw:flex-col tw:gap-y-8">
  <SimplePaginator
    curPage={books?.pagination.current_page ?? 1}
    totalPages={books?.pagination.total_pages ?? 1}
    pageLink={(page) => `${pageBase}/${page}`}
    centered={centerPaginator}
  />
  <ul class:list={["tw:grid", "tw:gap-6", colClass]}>
    {books?.books.map((book) => <BookItem book={book} includeLastRead={includeLastRead} />)}
  </ul>
  <SimplePaginator
    curPage={books?.pagination.current_page ?? 1}
    totalPages={books?.pagination.total_pages ?? 1}
    pageLink={(page) => `${pageBase}/${page}`}
    centered={centerPaginator}
  />
</div>
