---
import { Content } from '~/lib/content'
import ExternalLink from './util/ExternalLink.astro'
import Map, { OpenStreetMapTileData } from './post-fragments/Map.astro'
import HtmlRenderer from './HtmlRenderer.astro'
import ContainerRenderer from './ContainerRenderer.astro'

interface Props {
    content: Content
}

const { content } = Astro.props as Props
---

{(() => {
    switch (content.type) {
        case 'text':
            return <p class:list={[...content.classes]}>{content.text}</p>
        case 'html':
            return <HtmlRenderer html={content.html} />
        case 'link':
            const text = content.text ?? content.url
            if (content.external) {
                return <ExternalLink href={content.url}>{text}</ExternalLink>
            } else {
                return <a href={content.url}>{text}</a>
            }
        case 'image':
            return <img src={content.url} alt={content.alt} class="max-w-1/2 h-auto border-2 rounded-sm" />
        case 'container':
            return <ContainerRenderer
                class={content.classes}
                items={content.items} 
            />
        case 'map':
            return <Map 
                latitude={content.latitude} 
                longitude={content.longitude} 
                zoom={13} 
                tileData={OpenStreetMapTileData} 
                class="w-full h-64" 
            />
        default:
            return <p>Unsupported content type: {content.type}</p>
    }
})()}