---
export interface Props {
  value: unknown
}

const { value } = Astro.props
---

{typeof value === 'string' || typeof value === 'number' || typeof value === 'boolean' ? (
  <span>{String(value)}</span>
) : Array.isArray(value) ? (
  <ul style="margin: 0 0 0 1em; padding: 0;">
    {value.map((v, i) => (
      <li style="list-style: disc inside;">
        <Astro.self value={v} />
      </li>
    ))}
  </ul>
) : typeof value === 'object' && value !== null ? (
  <ul style="margin: 0 0 0 1em; padding: 0;">
    {Object.entries(value).map(([k, v]) => (
      <li style="list-style: circle inside;">
        <strong>{k}:</strong> <Astro.self value={v} />
      </li>
    ))}
  </ul>
) : (
  <span>{String(value)}</span>
)}
