---
import Link from './util/Link.astro';

interface Props {
  curPage: number,
  totalPages: number,
  centered?: boolean,
  pageLink: (page: number) => string
}

const { curPage, totalPages, centered = false, pageLink } = Astro.props

function getPages(): (number | "ellipsis")[] {
  const pages: (number | "ellipsis")[] = [1]
  if (totalPages <= 7) {
    for (let i = 2; i <= totalPages; i++) {
      pages.push(i);
    }

    return pages;
  }

  const start = Math.max(2, curPage - 1)
  const end = Math.min(totalPages - 1, curPage + 1)

  if (start > 2) {
    pages.push("ellipsis")
  }

  for (let i = start; i <= end; i++) {
    pages.push(i)
  }

  if (end < totalPages - 1) {
    pages.push("ellipsis")
  }

  pages.push(totalPages)

  return pages
}

const pages = getPages()
---

<nav aria-label="pagination" class="tw:flex tw:gap-x-2 tw:text-base tw:items-center" class:list={{ "tw:justify-center": centered }}>
  <Link href={pageLink(1)} title="Go to first page" withUnderline={false}>&laquo;</Link>
  <Link href={pageLink(Math.max(1, curPage - 1))} title="Go to previous page" withUnderline={false}>&lsaquo;</Link>
  {pages.map(p => 
    p === "ellipsis" 
      ? <span class="ellipsis">&hellip;</span>
      : <Link href={pageLink(p)} class:list={{ "tw:font-bold": p === curPage }} withUnderline={false}>{p}</Link> 
  )}
  <Link href={pageLink(Math.min(totalPages, curPage + 1))} title="Go to next page" withUnderline={false}>&rsaquo;</Link>
  <Link href={pageLink(totalPages)} title="Go to last page" withUnderline={false}>&raquo;</Link>
</nav>