---
import PostDates from "~/components/fragments/PostDates.astro";
import Categories from "~/components/fragments/Categories.astro";
import type Mf2Extractor from "~/lib/extractor/Mf2Extractor";
import ArticlePreview from "./type/ArticlePreview.astro";
import BookmarkPreview from "./type/BookmarkPreview.astro";
import CheckinPreview from "./type/CheckinPreview.astro";
import LikePreview from "./type/LikePreview.astro";
import NotePreview from "./type/NotePreview.astro";
import PhotoPreview from "./type/PhotoPreview.astro";
import ReplyPreview from "./type/ReplyPreview.astro";
import RepostPreview from "./type/RepostPreview.astro";
import RsvpPreview from "./type/RsvpPreview.astro";
import { getPermalinkUrl } from "~/util/mf2-util";
import Link from "~/components/util/Link.astro";

export interface Props {
    extractor: Mf2Extractor;
    class?: string;
}

const { extractor, class: className } = Astro.props;

const RootElem = extractor.getRootElem();
const content = await extractor.getPost();
const permalink = getPermalinkUrl(extractor.getProperties())
---

<RootElem class:list={["h-entry", "tw:border-2", "tw:border-dashed", "tw:border-blue-400", "tw:dark:border-blue-900", "tw:p-3", "tw:rounded-sm", "tw:flex", "tw:flex-col", "tw:gap-y-2", className]}>
    <div class:list={["e-content"]}>
        {
            (() => {
                switch (content.type) {
                    case "article":
                        return <ArticlePreview article={content} />;
                    case "checkin":
                        return <CheckinPreview checkin={content} />;
                    case "like":
                        return <LikePreview like={content} />;
                    case "note":
                        return <NotePreview note={content} />;
                    case "repost":
                        return <RepostPreview repost={content} />;
                    case "rsvp":
                        return <RsvpPreview rsvp={content} />;
                    case "photo":
                        return <PhotoPreview photo={content} />;
                    case "reply":
                        return <ReplyPreview reply={content} />;
                    case "bookmark":
                        return <BookmarkPreview bookmark={content} />;
                }
            })()
        }
    </div>
    <Link href={permalink}>Go to full post</Link>
    <div class="tw:flex tw:justify-between">
        <Categories categories={extractor.getCategories()} />
        <PostDates extractedDates={extractor.getDates()} forceHideUpdated={true} />
    </div>
</RootElem>
