---
import { Mf2Properties } from '~/types/mf2-document'
import { extractDates, ExtractedDates } from '~/util/dates'
import FormattedDate from './FormattedDate.astro'

interface Props {
    props?: Mf2Properties
    extractedDates?: ExtractedDates
}

const { props, extractedDates } = Astro.props

const extracted = props ? extractDates(props) : extractedDates
if (!extracted) {
    throw new Error('PostDates component requires either props or extractedDates to be provided.')
}

const hideUpdated = !extracted.updatedSameAsCreated()
---

<div class="tw:text-xs">
    <p class="tw:flex tw:gap-x-1">
        <span><FormattedDate raw={extracted.createdAtRaw} formatted={`Published ${extracted.createdAtDisplayTime}, ${extracted.createdAtDisplay}`} hidden={false} class="dt-published" /></span>
        <span><FormattedDate raw={extracted.updatedAtRaw} formatted={`Updated ${extracted.updatedAtDisplayTime}, ${extracted.updatedAtDisplay}`} hidden={hideUpdated} prefixMDash={true} class="dt-updated" /></em></span>
    </p>
</div>