---
import { Checkin } from '~/lib/content'
import Map from '../post-fragments/Map.astro'
import { OpenStreetMapTileData } from '../post-fragments/Map.astro'
import ContentRenderer from '../content/ContentRenderer.astro'

interface Props {
    checkin: Checkin
    preview?: boolean
}

const { checkin, preview = false } = Astro.props as Props
---

<div class="tw:flex tw:flex-col tw:gap-y-4">
    <div class="tw:flex tw:flex-col tw:items-center tw:justify-center tw:gap-y-2">
        <h2 class="tw:text-xl tw:font-bold">Checked in at <em>{checkin.name}</em></h2>
        {!preview && <Map latitude={checkin.latitude} longitude={checkin.longitude} zoom={13} tileData={OpenStreetMapTileData} class="tw:w-full tw:h-64" />}
    </div>

    <ContentRenderer content={checkin.content} preview={preview} />
</div>