---
import ContentRenderer from "~/components/content/ContentRenderer.astro";
import Map, { OpenStreetMapTileData } from "~/components/fragments/Map.astro";
import ExternalLink from "~/components/util/ExternalLink.astro";
import { Checkin } from "~/lib/content";

interface Props {
    checkin: Checkin;
}

const { checkin } = Astro.props as Props;

const openStreetMapUrl = `https://www.openstreetmap.org/#map=16/${checkin.latitude}/${checkin.longitude}`;
---

<div class="tw:flex tw:flex-col">
    <h2 class="tw:text-xl tw:font-bold">Checked in at <em><ExternalLink href={openStreetMapUrl} showIcon={true}>{checkin.name}</ExternalLink></em></h2>
    <ContentRenderer content={checkin.content} />
</div>
